@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

@media (max-width: 767px) {
  body {
    padding-left: 0 !important;
  }
}

@media (min-width: 768px) {
  body {
    transition: padding-left 0.3s ease-in-out;
  }

  body:not(.sidebar-collapsed) {
    padding-left: 13rem; /* Adjust this value based on your expanded sidebar width */
  }

  body.sidebar-collapsed {
    padding-left: 4rem; /* Adjust this value based on your collapsed sidebar width */
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Livvic', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.gradient-border {
  position: relative;
  border-radius: 16px;
  background: white;
  border-color: linear-gradient(to right, #e9dcff, #b5a0ff);
}

.gradient-border::before {
  content: '';
  position: absolute;
  inset: -1px;
  z-index: -1;
  border-radius: 17px;
}

.progress-bar-gradient {
  background: linear-gradient(to right, #6366f1, #a855f7, #ec4899);
}

.shiny-gradient-border {
  position: relative;
  padding: 16px;
  border-radius: 12px; /* Adjust as needed */
  background: white; /* Inner background */
}

.shiny-gradient-border::before {
  content: "";
  position: absolute;
  top: -3px; /* Border thickness */
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  background: linear-gradient(45deg, blue, purple, blue);
  z-index: -1;
}


.shiny-gradient-border2 {
  position: relative;
  border-radius: 12px; /* Adjust as needed */
  background: white; /* Inner background */
  z-index: 1;
}

.shiny-gradient-border2::before {
  content: "";
  position: absolute;
  inset: 0; /* Covers full element area */
  border-radius: inherit;
  background: linear-gradient(45deg, blue, purple, blue); /* Gradient border */
  z-index: -1; /* Places it behind the content */
  padding: 3px; /* Border thickness */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0); /* Masks to create the border effect */
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}



